<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>

<div class="alert alert-success" role="alert" th:if="${success}">
    Device deleted!
</div>

<div class="alert alert-success" role="alert" th:if="${failed}">
    Device Id is invalid!
</div>

<div class="container">



    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Delete device</h4>
            <br/>
            <form id="AddDevice" method="delete" th:action="@{'t'}" th:object="${machine}">
                <div class="form-group">
                    <label for="userId">Id</label>
                    <input type="text"
                           class="form-control"
                           id="userId"
                           placeholder="Enter Device Id"
                           required="required"
                           th:field="*{id}">
                    <small th:errors="*{id}" style="color:red;"></small>
                </div>
                <button onclick="window.location.href='/'" data-method="delete">
                    Click Here
                </button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>






</body>

</html>


